@media screen and (max-width: 1200px) {

  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }
}

@media screen and (max-width: 768px) {

  section {
    padding: 2rem;
  }

  #profile {
    flex-direction: column;
  }

  .section-container {
    flex-direction: column;
  }

  .about-containers {
    flex-direction: column;
  }
}
